.espace-bas {
  margin-top: 85px
}

/* containeur pour tous le classeflex-container-image-info-1 */

.flex-container-image-info-1 {
  display: flex;

  /*background-color: DodgerBlue;*/
}

.flex-container-image-info-1>div {
  background-color: #f1f1f1;
  margin: 60px;
  padding: 15px;
  font-size: 18px;
  width: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.flex-container-image-info-1>span {
  background-color: #f1f1f1;
  margin: 60px;
  padding: 2px;
  font-size: 18px;
  width: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

.flex-container-image-info-1>span img {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 2px;
  font-size: 18px;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* fin containeur pour tous le classeflex-container-image-info-1 */


/* tooltip pour le containeur-1 de tooltip-container-1 + tooltiptext-container-1 */
/*.tooltip-container-1 {

display: inline-block;
}

.tooltip-container-1 .tooltiptext-container-1 {

  visibility: hidden;
  width: 270px;
  background-color: rgb(143, 1, 1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
  top: 5%;
  left: 34%;

  margin-left: 0%;
  margin-right: 20%;
  margin-top: 50%;
  margin-bottom:50%;
  max-width:100%


}

.tooltip-container-1 .tooltiptext-container-1::after {

content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent rgb(143, 1, 1) transparent;
}

.tooltip-container-1:hover .tooltiptext-container-1 {
  position: relative;

visibility: visible;
} */
/* fin tootip pour le containeur-1 de tooltip-containeur-1 + tooltiptext-container-1 */



/* tooltip pour le containeur-2 de tooltip-container-2 + tooltiptext-container-2 */
/* .tooltip-container-2 {
  display: inline-block;
  }
  
  .tooltip-container-2 .tooltiptext-container-2 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 34%;
    margin: -15%;
    max-width:100%
  }
  
  .tooltip-container-2 .tooltiptext-container-2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-2:hover .tooltiptext-container-2 {
    position: relative;
  visibility: visible;
  } */
/* fin tootip pour le containeur-2 de tooltip-containeur-2 + tooltiptext-container-2 */



/* tooltip pour le containeur-3 de tooltip-container-3 + tooltiptext-container-3 */
/* .tooltip-container-3 {
  display: inline-block;
  }
  
  .tooltip-container-3 .tooltiptext-container-3 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 34%;
    margin: -15%;
    max-width:100%

  }
  
  .tooltip-container-3 .tooltiptext-container-3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-3:hover .tooltiptext-container-3 {
    position: relative;
  visibility: visible;
  } */
/* fin tootip pour le containeur-2 de tooltip-containeur-2 + tooltiptext-container-2 */




/* tooltip pour le containeur-4 de tooltip-container-4 + tooltiptext-container-4 */
/*.tooltip-container-4 {
display: inline-block;
}

.tooltip-container-4 .tooltiptext-container-4 {
  visibility: hidden;
  width: 270px;
  background-color: rgb(143, 1, 1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
  top: 5%;
  left: 32%;
  margin: -10%;
  max-width:100%

}

.tooltip-container-4 .tooltiptext-container-4::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent rgb(143, 1, 1) transparent;
}

.tooltip-container-4:hover .tooltiptext-container-4 {
  position: relative;
visibility: visible;
} */
/* fin tootip pour le containeur-4 de tooltip-containeur-4 + tooltiptext-container-4 */




/* tooltip pour le containeur-5 de tooltip-container-5 + tooltiptext-container-5 */
/* .tooltip-container-5 {
  display: inline-block;
  }
  
  .tooltip-container-5 .tooltiptext-container-5 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 30%;
    margin: -15%;
    max-width:100%

  }
  
  .tooltip-container-5 .tooltiptext-container-5::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-5:hover .tooltiptext-container-5 {
    position: relative;
  visibility: visible;
  } */
/* fin tootip pour le containeur-5 de tooltip-containeur-5 + tooltiptext-container-5 */



/* tooltip pour le containeur-6 de tooltip-container-6 + tooltiptext-container-6 */
/* .tooltip-container-6 {
  display: inline-block;
  }
  
  .tooltip-container-6 .tooltiptext-container-6 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 43%;
    margin: -11%;
    max-width:100%


  }
  
  .tooltip-container-6 .tooltiptext-container-6::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
  }
  
  .tooltip-container-6:hover .tooltiptext-container-6 {
    position: relative;
  visibility: visible;
  } */
/* fin tootip pour le containeur-6 de tooltip-containeur-6 + tooltiptext-container-6 */



/* tooltip pour le containeur-7 de tooltip-container-7 + tooltiptext-container-7 */
/*.tooltip-container-7 {
  display: inline-block; 
  }
  
  .tooltip-container-7 .tooltiptext-container-7 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 28%;
    margin: -10%;
    max-width:100%

  }
  
  .tooltip-container-7 .tooltiptext-container-7::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-7:hover .tooltiptext-container-7 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-7 de tooltip-containeur-7 + tooltiptext-container-7 */


/* tooltip pour le containeur-8 de tooltip-container-8 + tooltiptext-container-8 */
/*.tooltip-container-8 {
  display: inline-block;
  }
  
  .tooltip-container-8 .tooltiptext-container-8 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 35.5%;
    margin: -11%;
    max-width:100%

  }
  
  .tooltip-container-8 .tooltiptext-container-8::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
  }
  
  .tooltip-container-8:hover .tooltiptext-container-8 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-8 de tooltip-containeur-8 + tooltiptext-container-8 */



/* tooltip pour le containeur-9 de tooltip-container-9 + tooltiptext-container-9 */
/*.tooltip-container-9 {
  display: inline-block;
  }
  
  .tooltip-container-9 .tooltiptext-container-9 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 34%;
    margin: -11%;
    max-width:100%

  }
  
  .tooltip-container-9 .tooltiptext-container-9::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-9:hover .tooltiptext-container-9 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-9 de tooltip-containeur-9 + tooltiptext-container-9 */


/* tooltip pour le containeur-10 de tooltip-container-10 + tooltiptext-container-10 */
/*.tooltip-container-10 {
  display: inline-block;
  }
  
  .tooltip-container-10 .tooltiptext-container-10 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 52%;
    margin: -15%;
    max-width:100%

  }
  
  .tooltip-container-10 .tooltiptext-container-10::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-10:hover .tooltiptext-container-10 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-10 de tooltip-containeur-10 + tooltiptext-container-10 */


/* tooltip pour le containeur-11 de tooltip-container-11 + tooltiptext-container-11 */
/*.tooltip-container-11 {
  display: inline-block;
  }
  
  .tooltip-container-11 .tooltiptext-container-11 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 40%;
    margin: -15%;
    max-width:100%

  }
  
  .tooltip-container-11 .tooltiptext-container-11::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-11:hover .tooltiptext-container-11 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-11 de tooltip-containeur-11 + tooltiptext-container-11 */


/* tooltip pour le containeur-12 de tooltip-container-12 + tooltiptext-container-12 */
/*.tooltip-container-12 {
  display: inline-block;
  }
  
  .tooltip-container-12 .tooltiptext-container-12 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 40%;
    margin: -11%;
    max-width:100%

  }
  
  .tooltip-container-12 .tooltiptext-container-12::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  .tooltip-container-12:hover .tooltiptext-container-12 {
    position: relative;
  visibility: visible;
  }*/
/* fin tootip pour le containeur-12 de tooltip-containeur-12 + tooltiptext-container-12 */


@media screen and (max-width: 1000px) {

  #container-width {
    height: 130px;
    max-width: 100%;
  }

  /* tooltip pour container-1 class tooltip-container-1 + tooltiptext-container-1 */
  /* #tooltip-container-1 {
display: inline-block;
}

#tooltip-container-1 #tooltiptext-container-1 {
  visibility: hidden;
  width: 270px;
  background-color: rgb(143, 1, 1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
  top: 5%;
  left: 20%;
  margin: -15%;
  max-width:100%

}

#tooltip-container-1 #tooltiptext-container-1::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent rgb(143, 1, 1) transparent;
}

#tooltip-container-1:hover #tooltiptext-container-1 {
  position: relative;
visibility: visible;
} */
  /* fin tooltip pour container-1 class tooltip-container-1 + tooltiptext-container-1 */



  /* tooltip pour container-2 class tooltip-container-2 + tooltiptext-container-2 */
  /* #tooltip-container-2 {
  display: inline-block;
  }
  
  #tooltip-container-2 #tooltiptext-container-2 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 10%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-2 #tooltiptext-container-2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-2:hover #tooltiptext-container-2 {
    position: relative;
  visibility: visible;
  } */
  /* fin tooltip pour container-2 class tooltip-container-2 + tooltiptext-container-2 */


  /* tooltip pour container-3 class tooltip-container-3 + tooltiptext-container-3 */
  /* #tooltip-container-3 {
  display: inline-block;
  }
  
  #tooltip-container-3 #tooltiptext-container-3 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 20%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-3 #tooltiptext-container-3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-3:hover #tooltiptext-container-3 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-3 class tooltip-container-3 + tooltiptext-container-3 */


  /* tooltip pour container-4 class tooltip-container-4 + tooltiptext-container-4 */
  /* #tooltip-container-4 {
  display: inline-block;
  }
  
  #tooltip-container-4 #tooltiptext-container-4 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 15%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-4 #tooltiptext-container-4::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-4:hover #tooltiptext-container-4 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-4 class tooltip-container-4 + tooltiptext-container-4 */


  /* tooltip pour container-5 class tooltip-container-5 + tooltiptext-container-5 */
  /* #tooltip-container-5 {
  display: inline-block;
  }
  
  #tooltip-container-5 #tooltiptext-container-5 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 9%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-5 #tooltiptext-container-5::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-5:hover #tooltiptext-container-5 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-5 class tooltip-container-5 + tooltiptext-container-5 */


  /* tooltip pour container-6 class tooltip-container-6 + tooltiptext-container-6 */
  /* #tooltip-container-6 {
  display: inline-block;
  }
  
  #tooltip-container-6 #tooltiptext-container-6 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 30%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-6 #tooltiptext-container-6::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-6:hover #tooltiptext-container-6 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-6 class tooltip-container-6 + tooltiptext-container-6 */


  /* tooltip pour container-7 class tooltip-container-7 + tooltiptext-container-7 */
  /*#tooltip-container-7 {
  display: inline-block;
  }
  
  #tooltip-container-7 #tooltiptext-container-7 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 12%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-7 #tooltiptext-container-7::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-7:hover #tooltiptext-container-7 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-7 class tooltip-container-7 + tooltiptext-container-7 */


  /* tooltip pour container-8 class tooltip-container-8 + tooltiptext-container-8 */
  /*#tooltip-container-8 {
  display: inline-block;
  }
  
  #tooltip-container-8 #tooltiptext-container-8 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 18%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-8 #tooltiptext-container-8::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-8:hover #tooltiptext-container-8 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-8 class tooltip-container-8 + tooltiptext-container-8 */


  /* tooltip pour container-9 class tooltip-container-9 + tooltiptext-container-9 */
  /*#tooltip-container-9 {
  display: inline-block;
  }
  
  #tooltip-container-9 #tooltiptext-container-9 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 21%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-9 #tooltiptext-container-9::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-9:hover #tooltiptext-container-9 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-9 class tooltip-container-9 + tooltiptext-container-9 */


  /* tooltip pour container-10 class tooltip-container-10 + tooltiptext-container-10 */
  /*#tooltip-container-10 {
  display: inline-block;
  }
  
  #tooltip-container-10 #tooltiptext-container-10 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 40%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-10 #tooltiptext-container-10::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-10:hover #tooltiptext-container-10 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-10 class tooltip-container-10 + tooltiptext-container-10 */


  /* tooltip pour container-11 class tooltip-container-11 + tooltiptext-container-11 */
  /*#tooltip-container-11 {
  display: inline-block;
  }
  
  #tooltip-container-11 #tooltiptext-container-11 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 25%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-11 #tooltiptext-container-11::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-11:hover #tooltiptext-container-11 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-11 class tooltip-container-11 + tooltiptext-container-11 */


  /* tooltip pour container-12 class tooltip-container-12 + tooltiptext-container-12 */
  /*#tooltip-container-12 {
  display: inline-block;
  }
  
  #tooltip-container-12 #tooltiptext-container-12 {
    visibility: hidden;
    width: 270px;
    background-color: rgb(143, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    top: 5%;
    left: 28%;
    margin: -15%;
    max-width:100%

  }
  
  #tooltip-container-12 #tooltiptext-container-12::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(143, 1, 1) transparent;
}
  
  #tooltip-container-12:hover #tooltiptext-container-12 {
    position: relative;
  visibility: visible;
  }*/
  /* fin tooltip pour container-12 class tooltip-container-12 + tooltiptext-container-12 */



}