
/* photo menu */
.header-banner {

    padding-bottom: 38px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    max-width: 100%;
  }
  
  /* fin photo menu */
  
  /* tous le menu en haut */
  .container-width {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f1f1f1;
  
  
  }
  
  /* fin tous le menu en haut */
  /* logo + menuTextGauche */
  .logo-container {
    background-color: #afb345;
    float: left;
    /* Position de texte à gauche */
    width: 0%;
    /* Conteneur large de texte se trouve MANUEL Gérald */
    max-width: 100%;
  
  }
  
  .logo {
    /* écran ordinateur */
    /* background-color: #998954; Définir couleur d'arrière plan */
    position: relative;
    width: 300px;
    /*background-color:#fff; */
    top: 10px;
    left: -44px;
  }
  
  .menuTextGauche {
    /* MANUEL Gérald */
    position: absolute;
    /* background-color: #fff; */
    border-radius: 5px;
    width: 230px;
    padding: 10px;
    margin-left: 80px;
    min-height: 30px;
    text-align: center;
    line-height: 15px;
    /* top: -75px; */
    left: 250px;
    color: #4d114f;
  
  }
  
  /* fin logo + menuTextGauche */
  
  /* menu text à droite : acueil, cv, pourquoi nous, contact */
  .menu {
  
    float: left;
    width: 100%;
    margin-left: 40%;
    outline-width: 200px;
    margin-top: 25px;
    max-width: 100%;
  
  
  }
  
  .menu-item {
    float: left;
    font-size: 15px;
    color: #182153;
    /* width: 195px; */
    padding: 10px;
    min-height: 50px;
    /* min-width: 12%; */
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    max-width: 100%;
  
  }
  
  /* fin menu texte à droite : acueil, cv, pourquoi nous, contact */
  
  
  /* lien menu */
  
  a:link {
    /* lien menu : un lien normal non visité */
    color: #4d114f;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 0px 5px rgba(white, 0.95);
    text-decoration: none;
  
  }
  
  a:visited {
    /*lien menu : un lien que l'utilisateur a visité */
    background-color: #182153;
    padding: 10px;
    color: #182153;
    text-decoration: none;
  }
  
  a:active {
    /* lien menu  : un lien au moment où il est cliqué */
    background-color: rgb(237, 221, 221);
    border: 1px solid black;
    text-decoration: none;
  
  }
  
  a:hover {
    /*lien menu  : un lien lorsque l'utilisateur le survole (glisse le souris dans le menu) */
    background-color: #ddd;
    box-shadow: 0px 10px 5px 1px rgba(240, 231, 231, 0.823);
    text-decoration: none;
  }
  
  /* fin lien menu */


  @media screen and (max-width: 1300px) {

    #container-width {
      /*height: 130px; */
      max-width: 100%;
    }
  
    #menu {
      padding-left: 5px;
      max-width: 100%;
      margin-left: 23.5%;
      line-height: 10px;
  
  
    }
  
    #menu-item {
      width: 190px;
  
    }
  
    #menuTextGauche {
      position: relative;
      left: 0px;
    }
  
  
    #image-ecran {
      position: relative;
      right: 61%;
      margin-right: 240px;
    }
  
    #accueil a:hover {
      background-color: none;
      box-shadow: none;
      border: none;
      color: none;
      background: none;
      text-decoration: none;
      padding: none;
  
    }
  }
  
  