#myBtn-down {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 35px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  background: none;
  border: 1px solid grey;
}

#myBtn-down:hover {
  background-color: rgba(85, 85, 85, 0.1);
}

@media screen and (max-width: 1200px) {
  #myBtn-down {
    display: none;
    position: fixed;
    bottom: 145px;
    right: 35px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 25px;
    border-radius: 100%;
    background: none;
    border: 1px solid grey;
  }

  #myBtn-down:hover {
    background-color: rgba(85, 85, 85, 0.1);
  }
}