/* Site web du centre */
.main-1 {
    max-width: 1000px;
    margin: auto;


}



.row-1 {
    margin: 10px -16px;

}

/* Ajouter un rembourrage ENTRE chaque colonne */
.row-1,
.row-1>.column-1 {
    padding: 8px;


}

/* Créez trois colonnes égales qui flottent les unes à côté des autres */
.column-1 {
    float: left;
    width: 33.33%;

    padding: 10px
        /* display: none; */
        /* Masquer tous les éléments par déf */
}

/* Effacer les flotteurs après les lignes */
.row-1:after {
    content: "";
    display: table;

    clear: both;

}

/* Contenu */
.content-1 {
    background-color: #bab8cf69;
    border-radius: 20px;


}

.marge-1-1 {

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;


}

.myBtn button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}


/* La classe "show" est ajoutée aux éléments filtrés */
.show-1 {
    display: block;
}

/* Stylisez les boutons */
.btn-1 {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    background: none;

}

.btn-1:hover {
    color: blue;
}

.btn-1.active-1 {

    color: green;
}

.top-left-1 {
    /* position: absolute;
    top: -1px;
    left: 25px; */
    background-color: rgb(211, 214, 203);
    padding: 8px;
    width: 26%;
    margin-left: 30px;

    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;


}

.container-1 {
    /* position: relative; */
    margin-bottom: 10px;
    margin-TOP: 10px;
}

.container-1-1 {
    background-color: rgba(236, 233, 233, 1);
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.container-1:hover {
    box-shadow: 1px 1px 1px 1px grey;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

/* img {
    border-bottom-right-radius: 0px;

} */

.container-1 a:link {
    padding: 0px;
}

.marge-1-1 a:link {
    text-decoration: none;



}

.marge-1-1 a:hover {
    background-color: none;
    box-shadow: none;
    text-decoration: none;
    background: none;
    color: blue;
}

.container-1 a:hover {
    background-color: none;
    box-shadow: none;
    text-decoration: none;
    background: none;
}

.marge-1-1 a h4:hover {
    background-color: none;
    box-shadow: none;
    text-decoration: none;
    background: none;
    color: blue;
}

.rotate img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rotate img:hover {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

@media screen and (max-width: 1210px) {

    #top-left-1 {
        width: 32%;
    }

    @media screen and (max-width: 1000px) {

        #top-left-1 {
            width: 44%;
        }

        #top-left-2 {
            width: 48%;
        }

    }
}